<mat-nav-list>
    <a mat-list-item routerLink="/login" (click)="close()">
        <mat-icon>login</mat-icon>
        <span >Login</span>
    </a>
    <a mat-list-item routerLink="/signup" (click)="close()">
        <mat-icon>app_registration</mat-icon>
        <span>Register</span>
    </a>
    <a mat-list-item routerLink="/profile" (click)="close()">
        <mat-icon>face</mat-icon>
        <span>Profile</span>
    </a>
    <a mat-list-item routerLink="/list-reservations" (click)="close()">
        <mat-icon>grid_view</mat-icon>
        <span>List reservstions</span>
    </a>
    <a mat-list-item routerLink="/create" (click)="close()">
        <mat-icon>collections</mat-icon>
        <span>Add reservation</span>
    </a>
    <a mat-list-item routerLink="/dashboard" (click)="close()">
        <mat-icon>info</mat-icon>
        <span>My reservations</span>
    </a>
</mat-nav-list>
