html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: pink;
    
}

.navbar-brand{
    color: blueviolet;
    
}

.toolbar{
    background: linear-gradient(to bottom right, #d18cc6, #e958a8, #8B5FBF, #6E43A3, #533D8F, #751c7b, #d33a89);
}

.main_component{
    height: 100vh;
    background-color: #FF69B4;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover, a:active{
    color: rgb(255, 0, 179);
}

.navigation-items{
    list-style: none;

}

mat-sidenav{
    width: 250px;
}

mat-sidenav-content {
     background: #FF689F;
     height: 100%;
}

mat-sidenav-container{
    height: 100%;
}