.navbar-brand{
    color: blueviolet;
}

.main_component{
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: rgb(255, 0, 179);
}

.navigation-items{
    list-style: none;

}

mat-sidenav{
    width: 250px;
}